@page "/"
@inject EventiLocalStorage eventiLocalStorage
@inject IJSRuntime jsRuntime

<TitlePage />

<div class="container">
    <div class="row">
         <div class="col-12"><h1>Sagre ed Eventi</h1></div>
    </div>
    <div class="row">
        <div class="col-12"><br /></div>
    </div>

    @if (ListaEventi == null)
    {
        <div class="row">
            <div class="col-12">Loading...</div>
        </div>
    }
    else
    {
        <SyncEventi ForceRefreshEventCallback="RefreshListaEventi" />

        <div class="row">
            <div class="col-12">
                <div class="alert alert-info" role="alert"><p>Numero Eventi: <b>@(ListaEventi.Count())</b></p>
                    <p>Eventi da aggiornare: <b>@(EventiDaSincronizzare)</b></p></div>
            </div>
        </div>

        <div class="row">
           <div class="col-12"><br /></div>
        </div>

        <div class="row">
            @foreach (var item in ListaEventi)
            {
                <div class="col-md-4 mb-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-glass-cheers"></i> @item.NomeEvento</h5>
                            <p class="card-text">@item.DescrizioneEvento</p>
                            <blockquote class="blockquote mb-0">
                                <footer class="blockquote-footer"><p><i class="fas fa-calendar-alt"></i>
                                    Dal @Convert.ToDateTime(@item.DataInizioEvento).ToString("dd/MM/yyyy") al
                                    @Convert.ToDateTime(@item.DataFineEvento).ToString("dd/MM/yyyy")</p>
                                  <p><i class="fas fa-map-marker-alt"></i> @item.CittaEvento</p></footer>
                            </blockquote>
                            @*<div style="text-align: right"><a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a></div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <div class="row">
       <div class="col-12"><br /></div>
    </div>

    <div class="row">
        <div class="col-12"><div class="alert alert-dark" role="alert">Versione 1.0 - Ideata e realizzata da <a href="https://about.me/AngeloPirola">Angelo Pirola</a></div></div>
    </div>
</div>